.violet{
    color: #574b90;
}
.pink{
    color: #c77189;
}
.pink:hover{
    color: #3dc1d3;
}
.pink-bg{
    background-color: #c77189;
}


/* BUTTON PINK*/
.btn-pink{
    background-color: #c77189;
    color: #010f41;
    border: 0px;
}
.btn-pink:hover{
    background-color: #c77189;
    color: #3dc1d3;
}

/* BUTTON DARKBLUE*/
.btn-dark-blue{
    background-color: #010f41;
    color: #c77189;
    border: 0px;
}
.btn-dark-blue:hover{
    background-color: #092994;
    color: #c77189;
}


.dark-blue{
    color: #010f41;
}
.dark-blue-bg{
    background-color: #010f41;
}
.dark-blue:hover{
    color: #3dc1d3;
}
.tab{
    border-radius: 14px;
    background: #574b90;
}
.log {
    font: italic small-caps bold 20px/2 cursive;
    transform: translate(0%, -10%);
}
.select {
    text-align: center;
    transform: translate(0%, 25%);
    width: 60px;
    border: 0;
}
.navbar-brand {
    font-size: 40px;
    text-align: center;
}
body{
    background-size: cover;
}
.box {
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    border: 4px solid #c44569;
}
.addpanel {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    border: 4px solid #c44569;
}
.box input[type = 'text'],.box input[type = 'password'] {
    border: 0;
    text-align: center;
    color: #574b90;
    border: 2px solid #c6727e;
    padding: 10px 6px;
    width: 200px;
    border-radius: 24px;
    transition: 0.25s;
    outline: none;
}
.box input[type = 'text']:focus,.box input[type = 'password']:focus {
    width: 280px;
    border-color: #3dc1d3;
}

.box input[type = 'submit'] {
    background: #f3a683;
    border-radius: 14px;
    width: 140px;
    border: 2px solid #c6727e;
    color: #574b90;
}
.box input[type = 'submit']:hover{
    background: #c6727e;
    color: #574b90;
    width: 140px;
    border: 2px solid #c6727e;
    border-radius: 14px;
}
.menu {
    padding: 10px;
}
.category {
    font-size: 18px;
    color: #574b90;
}
.procedure {
    font-size: 16px;
    color: #546de5;
}
.description {
    text-indent: 40px;
    font-size: 30px;
    color: #574b90;
    font: italic small-caps bold 16px/2 cursive;
}
.navbar-inverse {
    font-size: 20px;
    text-align: center;
}
input:invalid {
    border: 2px solid #ad0000;
}

footer {
    background: #c44569;
    color: #574b90;
}
.comment {
    border: 2px solid #c6727e;
    border-radius: 3px;
}

.label {
    font-size: 16px;
    display: flex;
    align-items: center;
}